<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/printing_page/cups_printers_browser_proxy.html">
<link rel="import" href="/settings_action_menu.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-cups-printers-list">
  <template>
    <style include="settings-shared">
      #container {
        border-top: 1px solid lightgray;
        display: flex;
        padding: 2px 20px;
      }

      .name-column {
        flex: 1;
        margin: 2px;
      }

      .list-item {
        min-height: 20px;
      }
    </style>

    <dialog is="settings-action-menu">
      <button class="dropdown-item" role="option" on-tap="onDetailsTap_">
        $i18n{cupsPrinterDetails}
      </button>
      <button class="dropdown-item" role="option" on-tap="onRemoveTap_">
        $i18n{removePrinter}
      </button>
    </dialog>
    <template is="dom-repeat" items="[[printers]]"
        filter="[[filterPrinter_(searchTerm)]]">
      <div id="container" class="list-item">
        <div class="name-column">
          <span class="name" id="printer-name">[[item.printerName]]</span>
          <!--TODO(xdai): Add icon for enterprise CUPS printer. -->
        </div>
        <paper-icon-button icon="cr:more-vert" on-tap="onOpenActionMenuTap_">
        </paper-icon-button>
      </div>
    </template>
  </template>
  <script src="cups_printers_list.js"></script>
</dom-module>
