<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/settings_action_menu.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="bluetooth-device-list-item">
  <style include="settings-shared">
    iron-icon {
      -webkit-padding-start: 10px;
    }

    span.name {
      padding: 10px 0;
    }

    span.name[connected] {
      font-weight: 500;
    }
  </style>
  <template>
    <div class="flex layout horizontal center" dropdown$="[[dropdownOpened]]">
      <span class="name" connected$="[[device.connected]]">
        [[getDeviceName_(device)]]
      </span>
      <iron-icon icon="cr:check" hidden$="[[!device.connected]]">
      </iron-icon>
      <span class="flex"></span>
      <span hidden$="[[!device.connecting]]">$i18n{bluetoothConnecting}</span>
      <div hidden$="[[!device.paired]]">
        <paper-icon-button icon="cr:more-vert" on-tap="onMenuButtonTap_"
            tabindex$="[[tabindex]]">
        </paper-icon-button>
        <dialog id="dotsMenu" is="settings-action-menu">
          <button class="dropdown-item" role="option"
              on-tap="onConnectActionTap_">
            [[getConnectActionText_(device.connected)]]
          </button>
          <button class="dropdown-item" role="option" on-tap="onRemoveTap_">
            $i18n{bluetoothRemove}
          </button>
        </dialog>
      </div>
    </div>
  </template>
  <script src="bluetooth_device_list_item.js"></script>
</dom-module>
