<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-checkbox/paper-checkbox.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-slider/paper-slider.html">
<link rel="import" href="/device_page/display_layout.html">
<link rel="import" href="/device_page/display_overscan_dialog.html">
<link rel="import" href="/md_select_css.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-display">
  <template>
    <style include="settings-shared md-select">
     .settings-box.embedded {
       align-self: stretch;
       margin-left: 20px;
       padding: 0;
     }

     display-layout {
       align-self: stretch;
       flex: 1 1;
       height: 300px;
       margin: 10px;
     }

     .textarea {
       margin: 10px 0;
     }

     .info-text {
       color: var(--paper-grey-500);
       margin-top: 5px;
     }

     .settings-box > paper-button:first-child {
       padding-left: 0
     }
    </style>
    <div class="settings-box first layout vertical self-stretch">
      <h2>$i18n{displayArrangement}</h2>
      <display-layout id="displayLayout"
          selected-display="[[selectedDisplay]]"
          on-select-display="onSelectDisplay_">
      </display-layout>
    </div>
    <div class="settings-box layout vertical first">
      <h2>[[selectedDisplay.name]]</h2>
      <div class="settings-box embedded first">
        <paper-checkbox class="flex" checked="[[isMirrored_(displays)]]"
            hidden$="[[!showMirror_(displays)]]" on-tap="onMirroredTap_">
          $i18n{displayMirror}
        </paper-checkbox>
        <paper-button
            hidden$="[[!showMakePrimary_(selectedDisplay, primaryDisplayId)]]"
            on-tap="onMakePrimaryTap_">
          $i18n{displayMakePrimary}
        </paper-button>
      </div>
      <div class="settings-box embedded horizontal justified">
        <div class="start textarea layout vertical">
          <div>$i18n{displayResolutionTitle}</div>
          <div class="info-text layout self-start">
            [[getResolutionText_(selectedDisplay, immediateSelectedModeIndex_)]]
          </div>
        </div>
        <paper-slider snaps max-markers="100" step="1"
            disabled="[[!enableSetResolution_(selectedDisplay)]]"
            min="0" max="[[maxModeIndex_]]"
            value="[[selectedModeIndex_]]"
            immediate-value="{{immediateSelectedModeIndex_}}"
            on-change="onChangeMode_">
        </paper-slider>
      </div>
      <div class="settings-box embedded">
        <div class="start textarea">$i18n{displayOrientation}</div>
        <div class="md-select-wrapper">
          <select class="md-select" value="[[selectedDisplay.rotation]]"
              on-change="onOrientationChange_">
            <option value="0">$i18n{displayOrientationStandard}</option>
            <option value="90">90</option>
            <option value="180">180</option>
            <option value="270">270</option>
          </select>
          <span class="md-select-underline"></span>
        </div>
      </div>
      <div class="settings-box embedded"
          hidden$="[[selectedDisplay.isInternal]]">
        <paper-button disabled="[[selectedDisplay.isInternal]]"
            on-tap="onOverscanTap_">
          $i18n{displayOverscanPageTitle}
        </paper-button>
      </div>

      <settings-display-overscan-dialog id="displayOverscan"
          display-id="{{overscanDisplayId}}">
      </settings-display-overscan-dialog>

    </div>
  </template>
  <script src="display.js"></script>
</dom-module>
