<div id="settings" class="page" hidden>
  <header>
    <h1 i18n-content="settingsTitle"></h1>
  </header>
  <include src="automatic_settings_reset_banner.html">
<if expr="chromeos">
  <link rel="import" href="chrome://resources/cr_elements/network/cr_network_icon.html">
  <link rel="import" href="chrome://resources/cr_elements/network/cr_onc_types.html">
  <include src="secondary_user_banner.html">
  <section id="network-section-cros">
    <div id="network-section-header" class="section-header">
      <h3 i18n-content="sectionTitleInternet"></h3>
      <span class="controlled-setting-indicator" plural></span>
    </div>
    <div id="network-settings">
      <list id="network-list"></list>
      <div id="shared-proxies" class="checkbox">
        <label>
          <input id="use-shared-proxies" type="checkbox"
              metric="Options_NetworkUseSharedProxies"
              pref="settings.use_shared_proxies">
          <span i18n-content="useSharedProxies"></span>
        </label>
      </div>
      <div id="network-menus"></div>
    </div>
  </section>
</if>
<if expr="not chromeos">
  <include src="sync_section.html">
  <include src="startup_section.html">
</if>
  <section id="proxy-section" hidden>
    <h3 i18n-content="sectionTitleProxy"></h3>
    <div id="proxy-section-content"></div>
  </section>

  <section id="appearance-section">
    <h3 i18n-content="sectionTitleAppearance"></h3>
    <div class="settings-row">
<if expr="chromeos">
      <button id="set-wallpaper" i18n-content="setWallpaper"
          guest-visibility="disabled"></button>
      <span id="wallpaper-indicator" class="controlled-setting-indicator">
      </span>
</if>
<if expr="not chromeos and is_posix and not is_macosx">
      <button id="themes-gallery" i18n-content="themesGallery"></button>
      <button id="themes-native-button"
          i18n-content="themesNativeButton"></button>
      <button id="themes-reset"
          i18n-content="themesSetClassic"></button>
</if>
<if expr="chromeos or is_win or is_macosx">
      <button id="themes-gallery" i18n-content="themesGallery"></button>
      <button id="themes-reset" i18n-content="themesReset"></button>
</if>
    </div>
    <div class="checkbox controlled-setting-with-label"
        guest-visibility="disabled">
      <label>
        <input type="checkbox"
            pref="browser.show_home_button"
            metric="Options_Homepage_HomeButton">
        <span>
          <span i18n-content="homePageShowHomeButton"></span>
          <span class="controlled-setting-indicator"
              pref="browser.show_home_button"></span>
        </span>
      </label>
    </div>
    <div id="change-home-page-section" hidden>
      <div id="change-home-page-section-container" guest-visibility="disabled">
        <span id="home-page-ntp" class="home-page-label"
            i18n-content="homePageNtp"></span>
        <span id="home-page-url" class="home-page-label"></span>
        <a is="action-link" id="change-home-page" i18n-content="changeHomePage">
        </a>
        <div id="extension-controlled-container"></div>
      </div>
    </div>
    <div class="checkbox controlled-setting-with-label"
        guest-visibility="disabled">
      <label>
        <input type="checkbox"
            pref="bookmark_bar.show_on_all_tabs"
            metric="Options_ShowBookmarksBar">
        <span>
          <span i18n-content="toolbarShowBookmarksBar"></span>
          <span class="controlled-setting-indicator"
              pref="bookmark_bar.show_on_all_tabs"></span>
        </span>
      </label>
    </div>
<if expr="is_linux and not chromeos">
    <div class="checkbox"><label>
        <input id="show-window-decorations" type="checkbox"
            pref="browser.custom_chrome_frame" metric="Options_CustomFrame"
            inverted_pref>
        <span i18n-content="showWindowDecorations"></span>
    </label></div>
</if>
  </section>
<if expr="chromeos">
  <section id="device-section">
    <h3 i18n-content="sectionTitleDevice"></h3>
    <div>
      <span i18n-content="deviceGroupDescription"></span>
      <div id="touchpad-settings" class="settings-row" hidden>
        <span id="touchpad-speed-label" class="option-name"
            i18n-content="touchpadSpeed"></span>
        <input id="touchpad-sensitivity-range" type="range" min="1" max="5"
            pref="settings.touchpad.sensitivity2" class="touch-slider"
            aria-labelledby="touchpad-speed-label">
      </div>
      <div id="mouse-settings" class="settings-row" hidden>
        <span id="mouse-speed-label" class="option-name"
            i18n-content="mouseSpeed"></span>
        <input id="mouse-sensitivity-range" type="range" min="1" max="5"
            pref="settings.mouse.sensitivity2" class="touch-slider"
            aria-labelledby="mouse-speed-label">
      </div>
      <div id="no-pointing-devices" i18n-content="noPointingDevices"
          class="settings-row" hidden>
      </div>
      <div class="settings-row">
        <button id="pointer-settings-button" hidden>
        </button>
        <button id="keyboard-settings-button"
            i18n-content="keyboardSettingsButtonTitle">
        </button>
        <span id="display-options-section">
          <button id="display-options" i18n-content="displayOptions" disabled>
          </button>
        </span>
        <button id="storage-manager-button"
            i18n-content="storageManagerButtonTitle">
        </button>
      </div>
      <div id="stylus-row" hidden>
        <a is="action-link" id="stylus-settings-link"
            i18n-content="stylusSettingsButtonTitle"></a>
      </div>
      <div id="power-row" hidden>
        <a is="action-link" id="power-settings-link"
            i18n-content="powerSettingsButton"></a>
      </div>
    </div>
  </section>
</if>
  <section id="search-section">
    <h3 i18n-content="sectionTitleSearch"></h3>
      <div id="search-section-content">
        <span id="default-search-engine-label"
            i18n-values=".innerHTML:defaultSearchGroupLabel"></span>
        <div class="settings-row">
          <select id="default-search-engine" class="weakrtl"
              aria-labelledby="default-search-engine-label"></select>
          <span class="controlled-setting-indicator"
              pref="default_search_provider_data.template_url_data">
          </span>
          <button id="manage-default-search-engines"
              i18n-content="defaultSearchManageEngines">
          </button>
        </div>
        <div id="google-now-launcher" hidden>
          <div class="checkbox">
            <label>
              <input pref="google_now_launcher.enabled" type="checkbox">
              <span i18n-content="googleNowLauncherEnable"></span>
            </label>
          </div>
        </div>
        <div id="hotword-always-on-search" hidden>
          <div class="checkbox controlled-setting-with-label">
            <label>
              <input id="hotword-always-on-search-checkbox"
                  pref="hotword.always_on_search_enabled" type="checkbox">
              <span i18n-content="hotwordSearchEnable"></span>
            </label>
            <a target="_blank" class="hotword-link"
                i18n-content="learnMore"
                i18n-values="href:hotwordLearnMoreURL">
            </a>
            <span id="hotword-always-on-search-setting-indicator"
                pref="hotword.always_on_search_enabled" dialog-pref></span>
            <div>
              <span class="setting-extra-description"
                  i18n-content="hotwordAlwaysOnDesc">
              </span>
              <a id="hotword-retrain-link" is="action-link"
                  i18n-content="hotwordRetrainLink" hidden>
              </a>
            </div>
          </div>
        </div>
        <div id="hotword-no-dsp-search" hidden>
          <div class="checkbox controlled-setting-with-label">
            <label>
              <input id="hotword-no-dsp-search-checkbox"
                  pref="hotword.search_enabled_2" type="checkbox">
              <span i18n-content="hotwordSearchEnable"></span>
            </label>
            <a target="_blank" class="hotword-link"
                i18n-content="learnMore"
                i18n-values="href:hotwordLearnMoreURL">
            </a>
            <span id="hotword-no-dsp-search-setting-indicator"
                pref="hotword.search_enabled_2" dialog-pref></span>
            <div>
              <span class="setting-extra-description"
                  i18n-content="hotwordNoDSPDesc">
              </span>
            </div>
          </div>
        </div>
        <div id="audio-history" hidden>
          <div class="settings-row">
            <label class="hotword-audio-history">
              <span id="audio-history-label"></span>
            </label>
            <a target="_blank" class="hotword-link"
               i18n-content="hotwordAudioHistoryManage"
               i18n-values="href:hotwordManageAudioHistoryURL">
            </a>
          </div>
          <div class="settings-row" id="audio-history-always-on-description">
            <span class="setting-extra-description"
                  i18n-content="hotwordAlwaysOnAudioHistoryDescription">
            </span>
          </div>
        </div>
      </div>
  </section>
<if expr="chromeos">
  <section id="android-apps-section" hidden>
    <h3 i18n-content="androidAppsTitle"></h3>
    <div class="checkbox controlled-setting-with-label">
      <label>
        <input id="android-apps-enabled" pref="arc.enabled"
            metric="Options_AndroidApps" type="checkbox" dialog-pref>
        <span>
          <span i18n-content="androidAppsEnabled"></span>
          <span class="controlled-setting-indicator"
                pref="arc.enabled"></span>
        </span>
      </label>
      <a target="_blank" i18n-content="learnMore"
          href="http://support.google.com/chromebook?p=playapps"></a>
    </div>
    <div id="android-apps-settings" class="controlled-setting-with-label" hidden>
      <label>
        <span id="android-apps-settings-label"></span>
      </label>
    </div>
  </section>
</if>
  <section id="sync-users-section" guest-visibility="hidden">
    <h3 i18n-content="sectionTitleUsers"></h3>
<if expr="chromeos">
    <include src="sync_section.html">
</if>
    <div id="profiles-section" hidden>
      <list id="profiles-list" class="settings-list" hidden></list>
      <div id="profiles-single-message" class="settings-row"
          i18n-content="profilesSingleUser">
      </div>
<if expr="not chromeos">
      <div id="profiles-enable-guest" class="checkbox">
        <label>
          <input pref="profile.browser_guest_enabled"
                 type="checkbox"
                 metric="Options_BrowserGuestEnabled">
          <span i18n-content="profileBrowserGuestEnable"></span>
        </label>
      </div>
      <div id="profiles-enable-add-person" class="checkbox">
        <label>
          <input pref="profile.add_person_enabled"
                 type="checkbox"
                 metric="Options_AddPersonEnabled">
          <span i18n-content="profileAddPersonEnable"></span>
        </label>
      </div>
</if>
      <div id="profiles-buttons">
        <button id="profiles-create" i18n-content="profilesCreate"></button>
        <button id="profiles-manage" i18n-content="profilesManage" disabled>
        </button>
        <button id="profiles-delete" i18n-content="profilesDelete"></button>
<if expr="not chromeos">
        <button id="import-data" i18n-content="importData"></button>
</if>
      </div>
    </div>
    <div id="profiles-supervised-dashboard-tip"
        i18n-values=".innerHTML:profilesSupervisedDashboardTip" hidden>
    </div>
  </section>
<if expr="not chromeos">
  <section id="set-default-browser-section">
    <h3 i18n-content="sectionTitleDefaultBrowser"></h3>
    <div>
      <button id="set-as-default-browser"
          i18n-content="defaultBrowserUseAsDefault" hidden>
      </button>
      <div id="default-browser-state" i18n-content="defaultBrowserUnknown">
      </div>
    </div>
  </section>
</if>  <!-- not chromeos -->
<div id="advanced-settings" hidden>
<div id="advanced-settings-container">
<if expr="chromeos">
  <section id="date-time-section">
    <h3 i18n-content="datetimeTitle"></h3>
    <div class="option-control-table">
      <div guest-visibility="disabled">
        <span id="timezone-value-label" class="option-name"
            i18n-content="timezone"></span>
        <div id="timezone-value">
          <select class="control"
              id="timezone-value-select"
              i18n-options="timezoneList" data-type="string"
              pref="cros.system.timezone"
              aria-labelledby="timezone-value-label"
              metric="Options_TimezoneSelect"></select>
        </div>
      </div>
      <div class="checkbox settings-row">
        <div id="resolve-timezone-by-geolocation-selection" hidden>
          <label>
            <input id="resolve-timezone-by-geolocation"
                pref="settings.resolve_timezone_by_geolocation"
                metric="Options_ResolveTimezoneByGeoLocation" type="checkbox">
            <span i18n-content="resolveTimezoneByGeoLocation"></span>
          </label>
        </div>
        <label>
          <input id="use-24hour-clock" pref="settings.clock.use_24hour_clock"
              metric="Options_Use24HourClockCheckbox" type="checkbox">
          <span i18n-content="use24HourClock"></span>
        </label>
      </div>
      <div id="set-time" class="settings-row" hidden>
        <button id="set-time-button"
            i18n-content="setTimeButton"></button>
      </div>
    </div>
  </section>
</if>
  <section id="privacy-section">
    <h3 i18n-content="advancedSectionTitlePrivacy"></h3>
    <div>
      <div class="settings-row">
        <button id="privacyContentSettingsButton"
            i18n-content="privacyContentSettingsButton"></button>
        <button id="privacyClearDataButton"
            i18n-content="privacyClearDataButton"></button>
      </div>
      <p id="privacy-explanation" class="settings-row">
        <span i18n-content="improveBrowsingExperience"></span>
        <span i18n-content="disableWebServices"></span>
        <a target="_blank" i18n-content="learnMore"
            i18n-values="href:privacyLearnMoreURL"></a>
      </p>
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input id="alternateErrorPagesEnabled"
              pref="alternate_error_pages.enabled"
              metric="Options_LinkDoctorCheckbox" type="checkbox">
          <span>
            <span i18n-content="linkDoctorPref"></span>
            <span class="controlled-setting-indicator"
                pref="alternate_error_pages.enabled"></span>
          </span>
        </label>
      </div>
      <div class="checkbox controlled-setting-with-label"
          guest-visibility="disabled">
        <label>
          <input pref="search.suggest_enabled"
              metric="Options_UseSuggestCheckbox" type="checkbox">
          <span>
            <span i18n-content="suggestPref"></span>
            <span class="controlled-setting-indicator"
                pref="search.suggest_enabled"></span>
          </span>
        </label>
      </div>
      <div class="checkbox" guest-visibility="disabled">
        <span class="controlled-setting-with-label">
          <label>
            <input id="networkPredictionOptions"
                metric="Options_DnsPrefetchCheckbox" type="checkbox">
            <span>
              <span i18n-content="networkPredictionEnabledDescription"></span>
              <span class="controlled-setting-indicator"
                  pref="net.network_prediction_options"></span>
            </span>
          </label>
        </span>
      </div>
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input
              metric="Options_SafeBrowsingExtendedReportingCheckbox"
              pref="safebrowsing.extended_reporting_enabled"
              type="checkbox">
          <span>
            <span i18n-content="safeBrowsingEnableExtendedReporting"></span>
            <span class="controlled-setting-indicator"
                pref="safebrowsing.extended_reporting_enabled"></span>
          </span>
        </label>
      </div>
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input pref="safebrowsing.enabled"
              metric="Options_SafeBrowsingCheckbox" type="checkbox">
          <span>
            <span i18n-content="safeBrowsingEnableProtection"></span>
            <span class="controlled-setting-indicator"
                pref="safebrowsing.enabled"></span>
          </span>
        </label>
      </div>
      <div id="spelling-enabled-container"
          class="checkbox controlled-setting-with-label">
        <label>
          <input id="spelling-enabled-control" type="checkbox"
              metric="Options_SpellingServiceCheckbox"
              pref="spellcheck.use_spelling_service" dialog-pref>
          <span>
            <span i18n-content="spellingPref"></span>
            <span id="spelling-enabled-indicator"
                class="controlled-setting-indicator"
                pref="spellcheck.use_spelling_service" dialog-pref>
            </span>
        </label>
      </div>
<if expr="_google_chrome">
      <div id="metrics-reporting-setting"
          class="checkbox controlled-setting-with-label">
        <label>
          <input id="metrics-reporting-enabled" type="checkbox">
          <span>
            <span i18n-content="enableLogging"></span>
            <span id="metrics-reporting-disabled-icon"
                class="controlled-setting-indicator"></span>
          </span>
        </label>
<if expr="not chromeos">
        <span id="metrics-reporting-reset-restart" hidden>
          <!-- Text filled by JavaScript -->
          <span></span><a is="action-link" role="button"
              class="standalone-action-link"></a><span></span>
        </span>
</if>  <!-- not chromeos -->
      </div>
</if>  <!-- _google_chrome -->
      <div class="checkbox">
        <label>
          <input id="do-not-track-enabled" pref="enable_do_not_track"
              metric="Options_DoNotTrackCheckbox" type="checkbox" dialog-pref>
          <span i18n-content="doNotTrack"></span>
        </label>
      </div>
<if expr="chromeos">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input id="content-protection-attestation-enabled" type="checkbox"
              pref="cros.device.attestation_for_content_protection_enabled">
          <span>
            <span i18n-content="enableContentProtectionAttestation"></span>
            <span class="controlled-setting-indicator"
                pref="cros.device.attestation_for_content_protection_enabled">
            </span>
          </span>
        </label>
        <a target="_blank" i18n-content="learnMore"
            i18n-values="href:contentProtectionAttestationLearnMoreURL">
        </a>
      </div>
</if>
      <div id="hotword-search" hidden>
        <div class="checkbox controlled-setting-with-label">
          <label>
            <input id="hotword-search-enable" pref="hotword.search_enabled_2"
                metric="Options_HotwordCheckbox" type="checkbox" dialog-pref>
            <span>
              <span i18n-values=".innerHTML:hotwordSearchEnable"></span>
              <span id="hotword-search-setting-indicator"
                  pref="hotword.search_enabled_2" dialog-pref></span>
            </span>
          </label>
        </div>
      </div>
<if expr="chromeos">
      <div id="wake-on-wifi" hidden
          class="checkbox controlled-setting-with-label">
        <label>
          <input id="wake-on-wifi-checkbox" type="checkbox"
              metric="Options_WakeOnWifiSsid"
              pref="settings.internet.wake_on_wifi_darkconnect">
          <span>
            <span i18n-content="wakeOnWifiLabel"></span>
            <span id="wake-on-wifi-indicator"
                class="controlled-setting-indicator"
                pref="settings.internet.wake_on_wifi_darkconnect"></span>
          </span>
        </label>
      </div>
</if>
    </div>
  </section>
<if expr="chromeos">
  <!-- By default, the bluetooth section is hidden.  It is only visible if a
       bluetooth adapter is discovered -->
  <section id="bluetooth-devices" hidden>
    <h3 i18n-content="bluetooth"></h3>
    <div id="bluetooth-options-div">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input type="checkbox" id="enable-bluetooth"
                 metric="Options_BluetoothEnabled">
          <span>
            <span i18n-content="enableBluetooth"></span>
            <span id="bluetooth-controlled-setting-indicator"
                  class="controlled-setting-indicator"
                  pref="cros.device.allow_bluetooth"
                  hidden="true">
            </span>
          </span>
        </label>
      </div>
      <div class="settings-list bluetooth-device-list" hidden>
        <list id="bluetooth-paired-devices-list"></list>
        <div id="bluetooth-paired-devices-list-empty-placeholder"
            class="bluetooth-empty-list-label" hidden>
          <span i18n-content="bluetoothNoDevices"></span>
        </div>
      </div>
      <div id="bluetooth-button-group">
        <button id="bluetooth-add-device"
            i18n-content="addBluetoothDevice" hidden></button>
        <button id="bluetooth-reconnect-device"
            i18n-content="bluetoothConnectDevice" disabled hidden></button>
      </div>
    </div>
  </section>
</if>
  <section id="passwords-and-autofill-section">
    <h3 i18n-content="passwordsAndAutofillGroupName"></h3>
    <div class="checkbox controlled-setting-with-label">
      <label>
        <input id="autofill-enabled" pref="autofill.enabled"
            metric="Options_FormAutofill" type="checkbox">
        <span>
          <span i18n-content="autofillEnabled"></span>
          <span class="controlled-setting-indicator" pref="autofill.enabled">
          </span>
        </span>
      </label>
      <a is="action-link" id="autofill-settings"
          i18n-content="manageAutofillSettings"></a>
    </div>
    <div class="checkbox controlled-setting-with-label">
      <label>
        <input id="password-manager-enabled"
            pref="profile.password_manager_enabled"
            metric="Options_PasswordManager" type="checkbox">
        <span>
          <span i18n-content="passwordManagerEnabled"></span>
          <span class="controlled-setting-indicator"
              pref="profile.password_manager_enabled"></span>
        </span>
      </label>
      <a is="action-link" id="manage-passwords" i18n-content="managePasswords">
      </a>
    </div>
<if expr="is_macosx">
    <div id="mac-passwords-warning" i18n-content="macPasswordsWarning" hidden>
    </div>
</if>
  </section>
  <section id="easy-unlock-section" guest-visibility="hidden" hidden>
    <h3 i18n-content="easyUnlockSectionTitle"></h3>
    <!-- Options shown when the user has not set up Easy Unlock -->
    <div id="easy-unlock-disabled" hidden>
      <div class="settings-row">
        <span i18n-content="easyUnlockSetupIntro"></span>
        <a target="_blank" i18n-content="learnMore"
            i18n-values="href:easyUnlockLearnMoreURL"></a>
      </div>
      <button id="easy-unlock-setup-button"
          i18n-content="easyUnlockSetupButton"></button>
    </div>
    <!-- Options shown when the user has set up Easy Unlock -->
    <div id="easy-unlock-enabled" hidden>
      <div class="settings-row">
        <span i18n-content="easyUnlockDescription"></span>
        <a target="_blank" i18n-content="learnMore"
            i18n-values="href:easyUnlockLearnMoreURL"></a>
        <div id="easy-unlock-enable-proximity-detection" class="checkbox"
            hidden>
          <label>
            <input type="checkbox"
                metric="Options_EasyUnlockRequireProximity"
                pref="easy_unlock.proximity_required">
            <span i18n-content="easyUnlockRequireProximityLabel"></span>
          </label>
        </div>
      </div>
      <button id="easy-unlock-turn-off-button"
          i18n-content="easyUnlockTurnOffButton"></button>
    </div>
  </section>
  <section id="web-content-section">
    <h3 i18n-content="advancedSectionTitleContent"></h3>
    <div>
      <div class="settings-row">
        <label class="web-content-select-label">
          <span i18n-content="defaultFontSizeLabel"></span>
          <select id="defaultFontSize">
            <option value="9" i18n-content="fontSizeLabelVerySmall">
            </option>
            <option value="12" i18n-content="fontSizeLabelSmall"></option>
            <option value="16" i18n-content="fontSizeLabelMedium"></option>
            <option value="20" i18n-content="fontSizeLabelLarge"></option>
            <option value="24" i18n-content="fontSizeLabelVeryLarge">
            </option>
          </select>
        </label>
        <span id="font-size-indicator"
            class="controlled-setting-indicator"></span>
        <button id="fontSettingsCustomizeFontsButton"
            i18n-content="fontSettingsCustomizeFontsButton"></button>
      </div>
      <div class="settings-row" guest-visibility="disabled">
        <label class="web-content-select-label">
          <span i18n-content="defaultZoomFactorLabel"></span>
          <select id="defaultZoomFactor" dataType="double"></select>
        </label>
      </div>
<if expr="is_macosx">
      <div class="checkbox">
        <label>
          <input id="tabsToLinksPref" pref="webkit.webprefs.tabs_to_links"
              metric="Options_TabsToLinks" type="checkbox">
          <span i18n-content="tabsToLinksPref"></span>
        </label>
      </div>
</if>
    </div>
  </section>
<if expr="not chromeos">
  <section id="network-section">
    <h3 i18n-content="advancedSectionTitleNetwork"></h3>
    <div>
      <span id="proxiesLabel"
            class="settings-row"
            i18n-content="proxiesLabelSystem"></span>
      <div class="settings-row">
        <button id="proxiesConfigureButton"
            i18n-content="proxiesConfigureButton"></button>
        <span class="controlled-setting-indicator" pref="proxy" plural></span>
      </div>
    </div>
  </section>
</if>
  <section id="languages-section">
    <h3 i18n-content="advancedSectionTitleLanguages"></h3>
    <div class="settings-row">
      <span i18n-content="languageSectionLabel"></span>
      <a target="_blank" i18n-content="learnMore"
          i18n-values="href:languagesLearnMoreURL"></a>
    </div>
    <div class="settings-row">
      <button id="language-button"
          i18n-content="languageAndSpellCheckSettingsButton"></button>
    </div>
    <div class="checkbox controlled-setting-with-label">
      <label>
        <input pref="translate.enabled"
            metric="Options_Translate" type="checkbox">
        <span>
          <span i18n-content="translateEnableTranslate"></span>
          <span class="controlled-setting-indicator" pref="translate.enabled">
          </span>
        </span>
      </label>
      <a is="action-link" id="manage-languages" i18n-content="manageLanguages">
      </a>
    </div>
  </section>
  <section id="downloads-section">
    <h3 i18n-content="downloadLocationGroupName"></h3>
    <div>
      <div class="settings-row">
        <label>
          <span id="download-location-label"
              i18n-content="downloadLocationBrowseTitle">
          </span>
          <input id="downloadLocationPath" class="weakrtl" type="text"
              size="36" readonly>
        </label>
        <button id="downloadLocationChangeButton"
            i18n-content="downloadLocationChangeButton">
        </button>
        <span class="controlled-setting-indicator"
          pref="download.default_directory">
        </span>
      </div>
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input type="checkbox"
              pref="download.prompt_for_download"
              metric="Options_AskForSaveLocation">
          <span>
            <span i18n-content="downloadLocationAskForSaveLocation"></span>
            <span class="controlled-setting-indicator"
                pref="download.prompt_for_download"></span>
          </span>
        </label>
      </div>
<if expr="chromeos">
      <div class="checkbox controlled-setting-with-label"
          id="disable-drive-row" guest-visibility="disabled">
        <label>
          <input type="checkbox"
              pref="gdata.disabled"
              metric="Options_DisableGData">
          <span>
            <span i18n-content="disableGData"></span>
            <span class="controlled-setting-indicator" pref="gdata.disabled">
            </span>
          </span>
        </label>
      </div>
</if>
      <div id="auto-open-file-types-section" hidden>
        <div id="auto-open-file-types-container">
          <div id="auto-open-file-types-label" class="settings-row"
              i18n-content="autoOpenFileTypesInfo"></div>
          <div class="settings-row">
            <button id="autoOpenFileTypesResetToDefault"
                i18n-content="autoOpenFileTypesResetToDefault"></button>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="certificates-section">
      <h3 i18n-content="advancedSectionTitleCertificates"></h3>
      <div>
<if expr="use_nss_certs or is_win or is_macosx">
        <div class="settings-row">
          <button id="certificatesManageButton"
              i18n-content="certificatesManageButton"></button>
        </div>
</if>
      </div>
  </section>
<if expr="enable_service_discovery">
    <section id="cloudprint-options-mdns">
      <h3 i18n-content="advancedSectionTitleCloudPrint"></h3>
      <div class="settings-row">
        <span i18n-content="cloudPrintOptionLabel"></span>
        <a target="_blank" i18n-content="learnMore"
           i18n-values="href:cloudPrintLearnMoreURL"></a>
      </div>
      <div class="settings-row">
        <button id="cloudPrintDevicesPageButton"
            i18n-content="cloudPrintDevicesPageButton"></button>
      </div>

      <div class="settings-row checkbox controlled-setting-with-label"
           i18n-values=".hidden: cloudPrintHideNotificationsCheckbox">
        <label>
          <input id="local-discovery-notifications-enabled"
              pref="local_discovery.notifications_enabled"
              type="checkbox"
              metric="LocalDiscoveryNotificationsDisabled_Settings">
          <span>
            <span i18n-content="cloudPrintEnableNotificationsLabel"></span>
            <span class="controlled-setting-indicator"
                  pref="local_discovery.notifications_enabled"></span>
          </span>
        </label>
      </div>
    </section>
</if>

<if expr="chromeos">
  <include src="startup_section.html">
</if>

<section id="a11y-section">
  <h3 i18n-content="accessibilityTitle"></h3>

  <div>
    <a href="https://chrome.google.com/webstore/category/collection/accessibility"
        id="accessibility-features" target="_blank"
        i18n-content="accessibilityFeaturesLink"></a>
  </div>

<if expr="chromeos">
  <div class="option-control-table">
    <p id="accessibility-explanation" class="settings-row">
      <span i18n-content="accessibilityExplanation"></span>
      <a id="accessibility-learn-more" target="_blank"
          i18n-values="href:accessibilityLearnMoreURL"
          i18n-content="learnMore"></a>
    </p>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input
              pref="settings.a11y.enable_menu" type="checkbox"
              metric="Options_AccessibilitySystemMenu">
          <span>
            <span i18n-content="accessibilityAlwaysShowMenu"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.enable_menu"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input
              pref="settings.a11y.large_cursor_enabled" type="checkbox"
              metric="Options_AccessibilityLargeMouseCursor">
          <span>
            <span i18n-content="accessibilityLargeCursor"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.large_cursor_enabled"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input id="accessibility-high-contrast-check"
              pref="settings.a11y.high_contrast_enabled" type="checkbox"
              metric="Options_AccessibilityHighContrastMode">
          <span>
            <span i18n-content="accessibilityHighContrast"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.high_contrast_enabled"></span>
          </span>
        </label>
      </div>
    </div>
    <div id="accessibility-sticky-keys" class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input id="accessibility-sticky-keys-check"
              pref="settings.a11y.sticky_keys_enabled" type="checkbox"
              metric="Options_AccessibilityStickyKeys">
          <span>
            <span i18n-content="accessibilityStickyKeys"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.sticky_keys_enabled"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input id="accessibility-spoken-feedback-check"
              pref="settings.accessibility" type="checkbox"
              metric="Options_AccessibilitySpokenFeedback">
          <span>
            <span i18n-content="accessibilitySpokenFeedback"></span>
            <span class="controlled-setting-indicator"
                pref="settings.accessibility"></span>
          </span>
        </label>
        <div id="accessibility-settings" hidden>
          <button id="accessibility-settings-button"
            i18n-content="accessibilitySettings"></button>
          <button id="talkback-settings-button"
            i18n-content="accessibilityTalkBackSettings"></button>
        </div>
      </div>
    </div>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input
              id="accessibility-screen-magnifier-check"
              pref="settings.a11y.screen_magnifier" type="checkbox"
              metric="Options_AccessibilityScreenMagnifier">
          <span>
            <span i18n-content="accessibilityScreenMagnifier"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.screen_magnifier"></span>
          </span>
        </label>
      </div>
      <div class="checkbox controlled-setting-with-label">
        <!-- No whitespace between elements. -->
        <input type="checkbox" class="spacer-checkbox">
        <label>
          <input
              id = "accessibility-screen-magnifier-center-focus-check"
              pref="settings.a11y.screen_magnifier_center_focus" type="checkbox"
              metric="Options_AccessibilityScreenMagnifierCenterFocus">
          <span>
            <span i18n-content="accessibilityScreenMagnifierCenterFocus"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.screen_magnifier_center_focus"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name" id="accessibility-tap-dragging">
      <div class="checkbox">
        <label>
          <input id="accessibility-tap-dragging-check"
              pref="settings.touchpad.enable_tap_dragging" type="checkbox"
              metric="Options_AccessibilityTapDragging">
          <span i18n-content="accessibilityTapDragging"></span>
        </label>
      </div>
    </div>
    <div class="option-name" id="accessibility-autoclick">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input id="accessibility-autoclick-check"
              pref="settings.a11y.autoclick" type="checkbox">
          <span>
            <span i18n-content="accessibilityAutoclick"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.autoclick"></span>
          </span>
        </label>
      </div>
      <div class="checkbox">
        <!-- No whitespace between elements. -->
        <input type="checkbox" class="spacer-checkbox"><span
            id="accessibility-autoclick-label"
            i18n-content="accessibilityAutoclickDropdown">
        </span><select id="accessibility-autoclick-dropdown" class="control"
            data-type="number"
            aria-labelledby="accessibility-autoclick-label"
            pref="settings.a11y.autoclick_delay_ms">
          <!-- i18n strings contain the autoclick duration; if the autoclick
               timing gets changed, then the i18n strings also needs to be
               updated. -->
          <option value="600"
              i18n-content="autoclickDelayExtremelyShort"></option>
          <option value="800"
              i18n-content="autoclickDelayVeryShort"></option>
          <option value="1000" i18n-content="autoclickDelayShort">
          </option>
          <option value="2000" i18n-content="autoclickDelayLong">
          </option>
          <option value="4000"
              i18n-content="autoclickDelayVeryLong"></option>
        </select>
        <span class="controlled-setting-indicator"
            pref="settings.a11y.autoclick_delay_ms"></span>
      </div>
    </div>
    <div class="option-name" id="accessibility_onscreen_keyboard">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input pref="settings.a11y.virtual_keyboard" type="checkbox"
              metric="Options_AccessibilityOnScreenKeyboard">
          <span>
            <span i18n-content="accessibilityVirtualKeyboard"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.virtual_keyboard"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name" id="accessibility_mono_audio">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input pref="settings.a11y.mono_audio" type="checkbox"
              metric="Options_AccessibilityMonoAudio">
          <span>
            <span i18n-content="accessibilityMonoAudio"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.mono_audio"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input pref="settings.a11y.caret_highlight" type="checkbox"
              metric="Options_AccessibilityCaretHighlight">
          <span>
            <span i18n-content="accessibilityCaretHighlight"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.caret_highlight"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input pref="settings.a11y.cursor_highlight" type="checkbox"
              metric="Options_AccessibilityCursorHighlight">
          <span>
            <span i18n-content="accessibilityCursorHighlight"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.cursor_highlight"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="option-name">
      <div class="checkbox controlled-setting-with-label">
        <label>
          <input pref="settings.a11y.focus_highlight" type="checkbox"
              metric="Options_AccessibilityFocusHighlight">
          <span>
            <span i18n-content="accessibilityFocusHighlight"></span>
            <span class="controlled-setting-indicator"
                pref="settings.a11y.focus_highlight"></span>
          </span>
        </label>
      </div>
    </div>
    <div id="experimental-accessibility-features" hidden>
      <div class="option-name">
        <div class="checkbox controlled-setting-with-label">
          <label>
            <input pref="settings.a11y.select_to_speak" type="checkbox"
                metric="Options_AccessibilitySelectToSpeak">
            <span>
              <span i18n-content="accessibilitySelectToSpeak"></span>
              <span class="controlled-setting-indicator"
                  pref="settings.a11y.select_to_speak"></span>
            </span>
          </label>
        </div>
      </div>
      <div class="option-name">
        <div class="checkbox controlled-setting-with-label">
          <label>
            <input pref="settings.a11y.switch_access" type="checkbox"
                metric="Options_AccessibilitySwitchAccess">
            <span>
              <span i18n-content="accessibilitySwitchAccess"></span>
              <span class="controlled-setting-indicator"
                  pref="settings.a11y.switch_access"></span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</if>

</section>

<if expr="chromeos">
  <section id="factory-reset-section" hidden>
    <h3 i18n-content="factoryResetTitle"></h3>
    <div>
      <span class="settings-row" i18n-content="factoryResetDescription">
      </span>
      <button id="factory-reset-restart"
          i18n-content="factoryResetRestart">
      </button>
    </div>
  </section>
</if>
<if expr="not chromeos">
  <section id="system-section">
    <h3 i18n-content="advancedSectionTitleSystem"></h3>
<if expr="not is_macosx">
    <div class="checkbox controlled-setting-with-label">
      <label>
        <input pref="background_mode.enabled"
            type="checkbox">
        <span>
          <span i18n-content="backgroundModeCheckbox"></span>
          <span class="controlled-setting-indicator"
              pref="background_mode.enabled"></span>
        </span>
      </label>
    </div>
</if>
    <div class="checkbox controlled-setting-with-label">
      <label>
        <input id="gpu-mode-checkbox"
            pref="hardware_acceleration_mode.enabled" type="checkbox">
        <span>
          <span i18n-content="gpuModeCheckbox"></span>
          <span class="controlled-setting-indicator"
              pref="hardware_acceleration_mode.enabled"></span>
        </span>
      </label>
      <span id="gpu-mode-reset-restart"
          i18n-values=".innerHTML:gpuModeResetRestart"></span>
    </div>
  </section>
</if>
  <section id="reset-profile-settings-section">
    <h3 i18n-content="resetProfileSettingsSectionTitle"></h3>
    <div>
      <span class="settings-row" i18n-content="resetProfileSettingsDescription">
      </span>
      <button id="reset-profile-settings" i18n-content="resetProfileSettings">
      </button>
    </div>
  </section>
  </div>  <!-- advanced-settings-container -->
  </div>  <!-- advanced-settings -->
  <footer id="advanced-settings-footer">
    <a is="action-link" id="advanced-settings-expander"
        i18n-content="showAdvancedSettings"></a>
  </footer>
</div>
