<link rel="import" href="/settings_vars_css.html">

<dom-module id="md-select">
  <template>
    <style>
      .md-select {
        --md-arrow-width: 0.9em;
        -webkit-appearance: none;
        /* Ensure that the text does not overlap with the down arrow. */
        -webkit-padding-end: calc(var(--md-arrow-width) * 1.8);
        background: url(images/arrow_down.svg) 97% center no-repeat;
        background-size: var(--md-arrow-width);
        border-bottom: 1px solid var(--paper-grey-300);
        border-left: none;
        /* Override Mac's default border-radius */
        border-radius: 0;
        border-right: none;
        border-top: none;
        color: var(--primary-text-color);
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        outline: none;
        padding-bottom: 3px;
        padding-top: 3px;
        width: 200px;
      }

      /* Mirroring paper-dropdown-menu disabled style. */
      .md-select[disabled] {
        border-bottom: 1px dashed var(--secondary-text-color);
        color: var(--secondary-text-color);
        opacity: 0.33;
        pointer-events: none;
      }

      :host-context([dir=rtl]) .md-select {
        background-position-x: 3%;
      }

      .md-select-underline {
        border-top: 2px solid var(--google-blue-500);
        display: block;
        position: relative;
        top: -1px;
        transform: scale3d(0, 1, 1);
        transition: transform 200ms ease-in;
        width: 100%;
      }

      .md-select:focus + .md-select-underline {
        transform: scale3d(1, 1, 1);
        transition: transform 200ms ease-out;
      }

      .md-select-wrapper {
        display: inline-block;
      }
    </style>
  </template>
</dom-module>
