<link rel="import" href="chrome://resources/cr_elements/cr_lazy_render/cr_lazy_render.html">
<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/on_startup_page/startup_urls_page_browser_proxy.html">
<link rel="import" href="/settings_action_menu.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-startup-url-entry">
  <template>
    <style include="settings-shared">
      .hide-overflow {
        overflow: hidden;
      }
    </style>
    <div class="list-item">
      <div class="favicon-image"
          style="background-image: [[getIconSet_(model.url)]]">
      </div>
      <div class="middle hide-overflow">
        <div class="text-elide">[[model.title]]</div>
        <div class="text-elide secondary">[[model.url]]</div>
      </div>
      <paper-icon-button id="dots" icon="cr:more-vert" tabindex$="[[tabindex]]"
          on-tap="onDotsTap_">
      </paper-icon-button>
      <template is="cr-lazy-render" id="menu">
        <dialog is="settings-action-menu">
          <button class="dropdown-item" role="option" on-tap="onEditTap_">
            $i18n{onStartupEdit}
          </button>
          <button class="dropdown-item" role="option" id="remove"
              on-tap="onRemoveTap_">
            $i18n{onStartupRemove}
          </button>
        </dialog>
      </template>
    </div>
  </template>
  <script src="startup_url_entry.js"></script>
</dom-module>
