<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-dropdown/iron-dropdown.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/search_engines_page/search_engine_dialog.html">
<link rel="import" href="/search_engines_page/search_engines_browser_proxy.html">
<link rel="import" href="/settings_action_menu.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-search-engine-entry">
  <link rel="import" type="css" href="/search_engines_page/search_engine_entry.css">
  <template>
    <style include="settings-shared"></style>
    <style>
      :host([is-default]) {
        font-weight: 500;
      }

      .name-column,
      .keyword-column {
        flex: 3;
      }

      .url-column {
        flex: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    </style>

    <template is="dom-if" if="[[showEditSearchEngineDialog_]]" restamp>
      <settings-search-engine-dialog model="[[engine]]">
      </settings-search-engine-dialog>
    </template>
    <div class="list-item">
      <div class="name-column">
        <span class="favicon-image"
            style="background-image: [[getIconSet_(engine.iconURL)]]"></span>
        <span class="name">[[engine.displayName]]</span>
      </div>
      <div class="keyword-column">[[engine.keyword]]</div>
      <div class="url-column">[[engine.url]]</div>
      <paper-icon-button icon="cr:more-vert" tabindex$="[[tabindex]]"
          on-tap="onDotsTap_">
      </paper-icon-button>
      <dialog is="settings-action-menu">
        <button class="dropdown-item" role="option" on-tap="onMakeDefaultTap_"
            hidden$="[[!engine.canBeDefault]]" id="makeDefault">
          $i18n{searchEnginesMakeDefault}
        </button>
        <button class="dropdown-item" role="option" on-tap="onEditTap_"
            hidden$="[[!engine.canBeEdited]]"
            id="edit">$i18n{searchEnginesEdit}</button>
        <button class="dropdown-item" role="option" on-tap="onDeleteTap_"
            hidden$="[[!engine.canBeRemoved]]"
            id="delete">$i18n{searchEnginesRemoveFromList}</button>
      </dialog>
    </div>
  </template>
  <script src="search_engine_entry.js"></script>
</dom-module>
