<div id="copies-settings" class="two-column" hidden>
  <div class="left-column">
    <h1 id="copies-label">$i18n{copiesLabel}</h1>
  </div>
  <div class="right-column">
    <div class="settings-box" id="copies-settings-box">
      <input class="user-value" type="number" value="1" maxlength="3"
          max="999" min="1"
          aria-labelledby="copies-label" aria-live="polite" id="copies">
      <div class="collate-container checkbox" aria-live="polite" hidden><label>
        <input class="collate" type="checkbox" checked
               aria-labelledby="copies-collate-label">
        <span id="copies-collate-label">$i18n{optionCollate}</span>
      </label></div>
    </div>
    <span class="hint" aria-live="polite">$i18n{copiesInstruction}</span>
    </span>
  </div>
</div>
