<div id="scaling-settings" class="two-column" hidden>
  <div class="left-column">
    <h1 id="scaling-label">$i18n{scalingLabel}</h1>
  </div>
  <div class="right-column">
    <div class="settings-box">
      <input class="user-value" type="number" value="100" maxlength="3"
        max="200" min="10"
        aria-labelledby="scaling-label" aria-live="polite" id="scaling">
    </div>
    <span class="hint" aria-live="polite">$i18n{scalingInstruction}</span>
  </div>
</div>
