<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/icons.html">
<link rel="import" href="/route.html">
<link rel="import" href="/settings_page/settings_subpage_search.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-subpage">
  <template>
    <style include="settings-shared">
      :host {
        --iron-icon-fill-color: var(--settings-nav-grey);
        display: block;
        padding-bottom: 60px;
      }

      .settings-box.first {
        min-height: 40px;
        padding-top: 8px;
      }

      paper-icon-button {
        /* Centers the ripple on the icon with appropriate margin on right. */
        -webkit-margin-end: 8px;
        -webkit-margin-start: -8px;
        /* The inner icon is 20px in size. paper-icon-button has 8px padding. */
        height: 36px;
        width: 36px;
      }

      h1 {
        color: var(--settings-nav-grey);
        flex: 1;  /* Push other items to the end. */
        font-size: 107.6923%;  /* Go to 14px from 13px */
        font-weight: 500;
      }

      settings-subpage-search {
        -webkit-margin-start: auto;
      }
    </style>
    <div class="settings-box first">
      <paper-icon-button icon="settings:arrow-back" on-tap="onTapBack_">
      </paper-icon-button>
      <h1>[[pageTitle]]</h1>
      <template is="dom-if" if="[[searchLabel]]">
        <settings-subpage-search label="[[searchLabel]]"
            on-search-changed="onSearchChanged_">
        </settings-subpage-search>
      </template>
      <content select=".subpage-title-extra"></content>
    </div>
    <content></content>
  </template>
  <script src="settings_subpage.js"></script>
</dom-module>
