<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/cr_elements/cr_dialog/cr_dialog.html">
<link rel="import" href="/i18n_setup.html">
<link rel="import" href="/md_select_css.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="site-data-details-dialog">
  <template>
    <style include="settings-shared md-select">
      .picker-container {
        flex: 1;
        margin: auto;
      }

      .remove-button {
        margin: 0;
      }
    </style>
    <dialog is="cr-dialog" id="dialog">
      <div class="title">[[title_]]</div>
      <div class="body">
        <div class="layout horizontal" id="container">
          <div class="picker-container">
            <div class="md-select-wrapper">
              <select id="picker" class="md-select" on-change="onItemSelected_">
                <template is="dom-repeat" items="[[entries_]]">
                  <option value$="[[item.id]]">
                    [[getEntryDescription(item)]]
                  </option>
                </template>
              </select>
              <span class="md-select-underline"></span>
            </div>
          </div>
          <div class="button-container">
            <paper-button on-tap="onRemove_"
                class="cancel-button remove-button">
              $i18n{siteSettingsCookieRemove}
            </paper-button>
          </div>
        </div>

        <div class="vertical-list">
          <template is="dom-repeat" items="[[cookieNodes_]]">
            <div class="list-item single-column two-line">
              <div>[[item.label]]</div>
              <div class="secondary">[[item.content]]</div>
            </div>
          </template>
        </div>

        <div class="button-container">
          <paper-button class="cancel-button" on-tap="onCancelTap_">
              $i18n{cancel}
          </paper-button>
          <paper-button class="action-button" id="clear" on-tap="onRemoveAll_">
            $i18n{siteSettingsCookieRemoveAll}
          </paper-button>
        </div>
      </div>
    </dialog>
  </template>
  <script src="cookie_info.js"></script>
  <script src="cookie_tree_node.js"></script>
  <script src="site_data_details_dialog.js"></script>
</dom-module>
