<include src="controller-pairing-screen.html">
<include src="gaia_buttons.html">
<include src="gaia_card.html">
<include src="gaia_header.html">
<include src="gaia_input_form.html">
<include src="gaia_input.html">
<include src="gaia_password_changed.html">
<include src="host-pairing-screen.html">
<include src="html-echo.html">
<include src="notification_card.html">
<include src="offline_gaia.html">
<include src="oobe-screen.html">
<include src="saml_confirm_password.html">
<include src="saml_interstitial.html">
<include src="throbber_notice.html">
<include src="navigation_bar.html">
<include src="oobe_a11y_option.html">
<include src="oobe_buttons.html">
<include src="oobe_dialog.html">
<include src="oobe_eula.html">
<include src="oobe_update.html">
<include src="oobe_i18n_dropdown.html">
<include src="oobe_welcome_dialog.html">
<include src="oobe_welcome.html">

<script src="chrome://oobe/custom_elements.js"></script>
