/* Copyright 2016 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */
:host {
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #5a5a5a;
  height: 28px;
  max-width: 300px;
  min-width: 120px;
}

#container {
  height: 100%;
  margin: 0;
  padding: 0 16px 0 16px;
}

::content * {
  font: var(--oobe-roboto-medium), sans-serif;
  font-size: 12px;
  text-transform: none;
}

iron-icon {
  --iron-icon-height: 16px;
  --iron-icon-width: 16px;
  color: #5a5a5a;
  margin: 0 8px 0 0;
}
