<!-- Copyright 2016 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/iron-icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-fab/paper-fab.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/color.html">

<!--
  Material design square button for text-labelled buttons.
  By default, text is blue, background is white.
  |inverse| makes text white on a blue background.

  Example:
    <oobe-icon-button i18n-content="oobeOKButtonText" inverse>
    </oobe-icon-button>
    <oobe-icon-button i18n-content="oobeCancelButtonText"></oobe-icon-button>

  Attributes:
    'disabled' - button is disabled when the attribute is set.
    'inverse' - makes text white and background blue
-->
<dom-module id="oobe-text-button">
  <link rel="stylesheet" href="oobe_text_button.css">
  <template>
    <paper-button id="textButton" on-tap="onClick_" disabled="[[disabled]]"
        inverse$="[[inverse]]">
      <content></content>
    </paper-button>
  </template>
</dom-module>

<!--
  Material design button that shows an icon and displays text.

  Example:
    <oobe-welcome-secondary-button icon="close"
        i18n-content="oobeCloseButtonText">
    </oobe-icon-button>

  Attributes:
    'icon' - a name of icon from material design set to show on button.
    'aria-label' - accessibility label.
-->
<dom-module id="oobe-welcome-secondary-button">
  <link rel="stylesheet" href="oobe_welcome_secondary_button.css">
  <template>
    <paper-button id="container" class="layout horizontal center"
        aria-label="[[ariaLabel]]">
      <iron-icon icon="[[icon]]" class="oobe-icon"></iron-icon>
      <content></content>
    </paper-button>
  </template>
</dom-module>
