<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/cr_elements/cr_lazy_render/cr_lazy_render.html">
<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/certificate_manager_page/certificate_manager_types.html">
<link rel="import" href="/certificate_manager_page/certificates_browser_proxy.html">
<link rel="import" href="/settings_action_menu.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-certificate-subentry">
  <template>
    <style include="settings-shared">
      .name {
        flex: auto;
      }

      .untrusted {
        -webkit-margin-end: 16px;
        color: var(--settings-error-color);
        font-weight: 500;
        text-transform: uppercase;
      }

      :host([is-last]) .list-item {
        border-bottom: none;
      }
    </style>
    <div class="list-item underbar">
      <div class="untrusted" hidden$="[[!model.untrusted]]">
        $i18n{certificateManagerUntrusted}
      </div>
      <div class="name">[[model.name]]</div>
      <paper-icon-button id="dots" icon="cr:more-vert"
          on-tap="onDotsTap_"></paper-icon-button>
      <template is="cr-lazy-render" id="menu">
        <dialog is="settings-action-menu">
          <button class="dropdown-item" role="option" id="view"
              on-tap="onViewTap_">
            $i18n{certificateManagerView}
          </button>
          <button class="dropdown-item" role="option" id="edit"
              hidden$="[[!canEdit_(certificateType, model)]]"
              on-tap="onEditTap_">
            $i18n{certificateManagerEdit}
          </button>
          <button class="dropdown-item" role="option" id="export"
              hidden$="[[!canExport_(certificateType, model)]]"
              on-tap="onExportTap_">
            $i18n{certificateManagerExport}
          </button>
          <button class="dropdown-item" role="option" id="delete"
              hidden$="[[!canDelete_(model)]]" on-tap="onDeleteTap_">
            $i18n{certificateManagerDelete}
          </button>
        </dialog>
      </template>
    <div>
  </template>
  <script src="certificate_subentry.js"></script>
</dom-module>
