<link rel="import" href="chrome://resources/html/action_link.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/passwords_and_forms_page/address_edit_dialog.html">
<link rel="import" href="/passwords_and_forms_page/credit_card_edit_dialog.html">
<link rel="import" href="/passwords_and_forms_page/passwords_shared_css.html">
<link rel="import" href="/settings_action_menu.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-autofill-section">
  <link rel="import" type="css" href="chrome://resources/css/action_link.css">
  <template>
    <style include="settings-shared passwords-shared">
      .type-column {
        align-items: center;
        flex: 2;
      }

      .expiration-column {
        align-items: center;
        display: flex;
        flex: 1;
      }

      .expiration-date {
        flex: 1;
      }

      .payments-label {
        -webkit-margin-start: 16px;
        color: var(--paper-grey-600);
      }
    </style>
    <div class="settings-box first">
      <h2>$i18n{addresses}</h2>
    </div>
    <div class="list-frame">
      <div id="addressList" class="vertical-list">
        <template is="dom-repeat" items="[[addresses]]">
          <div class="list-item two-line">
            <div class="start">
              <span id="addressSummary">[[address_(item)]]</span>
              <span class="payments-label" hidden$="[[item.metadata.isLocal]]">
                $i18n{googlePayments}
              </span>
            </div>
            <paper-icon-button id="addressMenu" icon="cr:more-vert"
                tabindex$="[[tabIndex]]" alt="$i18n{overflowMenu}"
                on-tap="onAddressMenuTap_">
            </paper-icon-button>
          </div>
        </template>
      </div>
      <div id="noAddressesLabel" class="list-item"
          hidden$="[[hasSome_(addresses)]]">
        $i18n{noAddressesFound}
      </div>
      <div class="list-item list-button">
        <a is="action-link" on-tap="onAddAddressTap_">$i18n{addAddress}</a>
      </div>
    </div>
    <dialog is="settings-action-menu" id="addressSharedMenu">
      <button id="menuEditAddress" class="dropdown-item"
          on-tap="onMenuEditAddressTap_">$i18n{editAddress}</button>
      <button id="menuRemoveAddress" class="dropdown-item"
          hidden$="[[!activeAddress.metadata.isLocal]]"
          on-tap="onMenuRemoveAddressTap_">$i18n{removeAddress}</button>
    </dialog>
    <template is="dom-if" if="[[showAddressDialog_]]" restamp>
      <settings-address-edit-dialog address="[[activeAddress]]"
          on-close="onAddressDialogClosed_">
      </settings-address-edit-dialog>
    </template>
    <div class="settings-box first">
      <h2>$i18n{creditCards}</h2>
    </div>
    <div class="list-frame">
      <div id="creditCardsHeading" class="list-item column-header"
          hidden$="[[!hasSome_(creditCards)]]">
        <div class="type-column">$i18n{creditCardType}</div>
        <div class="expiration-column">$i18n{creditCardExpiration}</div>
      </div>
      <div id="creditCardList" class="vertical-list list-with-header">
        <template is="dom-repeat" items="[[creditCards]]">
          <div class="list-item two-line">
            <div class="type-column">
              <span id="creditCardLabel">[[item.metadata.summaryLabel]]</span>
              <span class="payments-label" hidden$="[[item.metadata.isLocal]]">
                <span hidden$="[[item.metadata.isCached]]">
                  $i18n{googlePayments}
                </span>
                <span hidden$="[[!item.metadata.isCached]]">
                  $i18n{googlePaymentsCached}
                </span>
              </span>
            </div>
            <div class="expiration-column">
              <div id="creditCardExpiration"
                  class="expiration-date">[[expiration_(item)]]</div>
              <paper-icon-button id="creditCardMenu" icon="cr:more-vert"
                  tabindex$="[[tabIndex]]" alt="$i18n{overflowMenu}"
                  on-tap="onCreditCardMenuTap_">
              </paper-icon-button>
            </div>
          </div>
        </template>
      </div>
      <div id="noCreditCardsLabel" class="list-item"
          hidden$="[[hasSome_(creditCards)]]">
        $i18n{noCreditCardsFound}
      </div>
      <div class="list-item list-button">
        <a is="action-link" on-tap="onAddCreditCardTap_">
          $i18n{addCreditCard}
        </a>
      </div>
    </div>
    <dialog is="settings-action-menu" id="creditCardSharedMenu">
      <button id="menuEditCreditCard" class="dropdown-item"
          on-tap="onMenuEditCreditCardTap_">$i18n{editCreditCard}</button>
      <button id="menuRemoveCreditCard" class="dropdown-item"
          hidden$="[[!activeCreditCard.metadata.isLocal]]"
          on-tap="onMenuRemoveCreditCardTap_">$i18n{removeCreditCard}</button>
      <button id="menuClearCreditCard" class="dropdown-item"
          on-tap="onMenuClearCreditCardTap_"
          hidden$="[[!activeCreditCard.metadata.isCached]]">
        $i18n{clearCreditCard}
      </button>
    </dialog>
    <template is="dom-if" if="[[showCreditCardDialog_]]" restamp>
      <settings-credit-card-edit-dialog credit-card="[[activeCreditCard]]"
          on-close="onCreditCardDialogClosed_">
      </settings-credit-card-edit-dialog>
    </template>
  </template>
  <script src="/passwords_and_forms_page/autofill_section.js"></script>
</dom-module>
