<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/action_link.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-list/iron-list.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/global_scroll_target_behavior.html">
<link rel="import" href="/passwords_and_forms_page/password_edit_dialog.html">
<link rel="import" href="/passwords_and_forms_page/passwords_shared_css.html">
<link rel="import" href="/prefs/prefs.html">
<link rel="import" href="/settings_action_menu.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="passwords-section">
  <!-- action_link.css is needed for the |managePasswordsLabel| link -->
  <link rel="import" type="css" href="chrome://resources/css/action_link.css">
  <template>
    <style include="settings-shared passwords-shared">
      #password {
        background-color: transparent;
        border: none;
        flex: 1;
        height: 20px;
        width: 0;
      }

      .website-column {
        flex: 3;
      }

      .username-column {
        -webkit-margin-end: 16px;
        -webkit-margin-start: 16px;
        flex: 2;
      }

      .password-column {
        align-items: center;
        display: flex;
        flex: 2;
      }

      .selectable {
        -webkit-user-select: text;
      }
    </style>
    <div class="settings-box first two-line">
      <settings-checkbox id="autosigninCheckbox"
          pref="{{prefs.credentials_enable_autosignin}}"
          label="$i18n{passwordsAutosigninLabel}"
          sub-label="$i18n{passwordsAutosigninDescription}">
      </settings-checkbox>
    </div>
    <div id="manageLink" class="settings-box first">
      <!-- This span lays out the url correctly, relative to the label. -->
      <span>$i18nRaw{managePasswordsLabel}</span>
    </div>
    <div class="settings-box first">
      <h2>$i18n{savedPasswordsHeading}</h2>
    </div>
    <div class="list-frame">
      <div id="savedPasswordsHeading" class="list-item column-header"
          hidden$="[[!hasSome_(savedPasswords)]]">
        <div class="website-column">$i18n{editPasswordWebsiteLabel}</div>
        <div class="username-column">
          $i18n{editPasswordUsernameLabel}
        </div>
        <div class="password-column">
          $i18n{editPasswordPasswordLabel}
        </div>
      </div>
      <iron-list id="passwordList"
          items="[[getFilteredPasswords_(savedPasswords, filter)]]"
          class="vertical-list list-with-header"
          scroll-target="[[scrollTarget]]">
        <template>
          <div class="list-item">
            <div class="website-column">
              <a id="originUrl" target="_blank" class="selectable"
                  href="[[item.linkUrl]]">[[item.loginPair.originUrl]]</a>
            </div>
            <div class="username-column selectable"
                id="username">[[item.loginPair.username]]</div>
            <div class="password-column">
              <!-- Password type and disabled in order to match mock. -->
              <input id="password" type="password" disabled
                  value="[[getEmptyPassword_(item.numCharactersInPassword)]]">
              </input>
              <paper-icon-button id="passwordMenu" icon="cr:more-vert"
                  on-tap="onPasswordMenuTap_" alt="$i18n{overflowMenu}"
                  tabindex$="[[tabIndex]]">
              </paper-icon-button>
            </div>
          </div>
        </template>
      </iron-list>
      <div id="noPasswordsLabel" class="list-item"
          hidden$="[[hasSome_(savedPasswords)]]">
        $i18n{noPasswordsFound}
      </div>
    </div>
    <dialog is="settings-action-menu" id="menu">
      <button id="menuEditPassword" class="dropdown-item"
          on-tap="onMenuEditPasswordTap_"
          hidden$="[[!showPasswords]]">$i18n{passwordViewDetails}</button>
      <button id="menuRemovePassword" class="dropdown-item"
          on-tap="onMenuRemovePasswordTap_">$i18n{removePassword}</button>
    </dialog>
    <template is="dom-if" if="[[showPasswordEditDialog_]]" restamp>
      <password-edit-dialog on-close="onPasswordEditDialogClosed_"
          item="[[activePassword]]">
      </password-edit-dialog>
    </template>
    <div class="settings-box block first">
      <h2>$i18n{passwordExceptionsHeading}</h2>
    </div>
    <div class="list-frame vertical-list">
      <span id="passwordExceptionsList">
        <template is="dom-repeat" items="[[passwordExceptions]]"
            filter="[[passwordExceptionFilter_(filter)]]">
          <div class="list-item two-line">
            <div class="start">
              <a id="exception" href="[[item.linkUrl]]" target="_blank"
                  class="selectable">[[item.exceptionUrl]]</a>
            </div>
            <paper-icon-button id="removeExceptionButton"
                icon="cr:close" on-tap="onRemoveExceptionButtonTap_"
                tabindex$="[[tabIndex]]"
                alt="$i18n{deletePasswordException}">
            </paper-icon-button>
          </div>
        </template>
      </span>
      <div id="noExceptionsLabel" class="list-item"
          hidden$="[[hasSome_(passwordExceptions)]]">
        $i18n{noExceptionsFound}
      </div>
    </div>
  </template>
  <script src="/passwords_and_forms_page/passwords_section.js"></script>
</dom-module>
